*~
\#*\#
*.out
*.pyc
*.sublime-*
*.tgz
*.txt
*.csv
*.recv
*.send
*.rx
*.tx
*.prof
*.log
*.ogv
*.pcm
*.tar.gz
build/
*.egg-info
.coverage
htmlcov
*_ext.c
*_ext.so
/.tox
/dist
/deb_dist
*.html
bin
lib
share
include
pyutil
local
